
html {
    font-family: "lucida grande",Arial,"Helvetica Neue",Helvetica,sans-serif;
    background-color: #f0f0ff;
}

body {
    background-color: #fcfcff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#header {
    height: 62px;
    background-color: #e9e9ff;
    background-color: #1287b1;
    border-bottom: 2px solid #aac;
    margin-bottom: 3em;
    padding: 0 2.5em 0 2.5em;
}

.header-text {
    float: right;
    font-style: italic;
    color: #bbe6fb;
}

#container {
    margin: 0 auto 0 auto;
    width: 95%;
}

#query_box {
    float: right;
    margin-bottom: 5em;
    width: 75%;
}

#query_box h2 {
    margin-top: 0;
}

#query_results {
    background-color: #333;
    color: lightgrey;
    padding: .5em 0 .5em .25em;

}

#schema_wrapper {
    float: left;
    border: 1px black solid;
    padding: 1em 1em 1em 1em;
    margin-bottom: 5em;
    width: 20%;
}

#schema_wrapper ul {
    margin-left: .25em;
    padding-left: 1em;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    color: #c40022;
}

#history {
    color: #a0a0a0;
    margin-top: 1em;
    padding: .5em 0 .5em .25em;
}

#dialog p {
    margin: .25em 0 .25em 0;
}

#footer {
    background-color: #f0f0ff;
    border-top: 1px solid #aac;
    clear: both;
    height: 100px;
    padding: 1em 2.5em 0 2.5em;
    color: #88b;
}

#footer a {
    color: #669;
}

#footer ul, h4 {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer table {
    width: 100%;
}

#footer td {
    vertical-align: top;
    padding-right: 3em;
    white-space: nowrap;
}

.nav {
    padding: 0 1em 0 1em;
}

.legal {
    padding: 1em 0 1em 0;
    font-size: 90%;
}

.hints {
    font-size: 90%;
    color: #aaa;
    margin: .5em 0;
}

span.key {
    color: lightblue;
    padding-right: .5em;
}

span.column_name {
    color: magenta;
}

span.column_value {
    color: yellow;
    padding-right: .5em;
}

span.exception {
    color: red;
}
