
html {
    font-family: "lucida grande",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

body {
    background-color: #fcfcff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#header {
    height: 60px;
    background-color: #e9e9ff;
    border-bottom: 2px solid #aac;
    margin-bottom: 3em;
}

.logo {
    margin: 1em 0 0 2.5em;
}

#container {
    margin: 0 auto 0 auto;
    width: 90%;
}

#query_box {
    float: right;
    margin-bottom: 5em;
    width: 70%;
}

#query_results {
    background-color: #333;
    color: lightgrey;
    padding: .5em 0 .5em .25em;
}

#schema_wrapper {
    float: left;
    border: 1px black solid;
    padding: 1em 1em 1em 1em;
    margin-bottom: 5em;
}

#schema_wrapper ul {
    margin-left: .25em;
    padding-left: 1em;
}

#schema_wrapper a {
  text-decoration: none;
}

#schema_wrapper a:hover {
  text-decoration: underline;
}

#history {
    color: #a0a0a0;
    margin-top: 1em;
    padding: .5em 0 .5em .25em;
}

#footer {
    background-color: #e9e9ff;
    border-top: 2px solid #aac;
    clear: both;
    position: relative;
    height: 130px;
}

span.key {
    color: lightblue;
    padding-right: .5em;
}

span.column_name {
    color: magenta;
}

span.column_value {
    color: yellow;
    padding-right: .5em;
}

span.exception {
    color: red;
}
