<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <script type="text/javascript">
        function displayResults(results) {
            var display = $("#query_results");
            display.empty();
            
            if (results.hasOwnProperty("rows")) {
                var rows = results.rows;
                
                // Really? Really!?
                function getCount(obj) {
                    var element_count = 0;
                    for (item in obj) { element_count++; }
                    return element_count;
                }
                
                if (getCount(rows) < 1) {
                    display.append($("<span/>").addClass("message").append("0 results"));
                    return null;
                }
                
                for (row in rows) {
                    display.append($("<span/>").addClass("key").append(row+""));
                    for (col in rows[row]) {
                        var column = rows[row][col]
                        display.append($("<span/>").addClass("column_name").append(column.name));
                        display.append(",");
                        display.append($("<span/>").addClass("column_value").append(column.value));
                        display.append(" ");
                    }
                    display.append($("<br/>"));
                }
            } else if (results.hasOwnProperty("void")) {
                display.append(
                    $("<span/>").addClass("void").append(results["void"]));
            } else if (results.hasOwnProperty("int")) {
                display.append($("<span/>").append(results.int));
            } else if (results.hasOwnProperty("exception")) {
                display.append(
                    $("<span/>").addClass("exception").append(results.exception));
            } else {
                // wtf?
            }
        }
        
        function postQuery(queryString) {
            // Set the spinner image to spinning
            $("#query_results").html($("<center/>").append(
                $("<img/>").attr("src", "/static/images/dark-loader.gif")
                    .attr("border", "0")
            ));
            var csrf_token = $('#csrf_token >div >input').attr("value");
            var data = {}
            data["post_data"] = queryString;
            data["csrfmiddlewaretoken"] = csrf_token;
            
            var ret = $.post("query/", data, displayResults, "json")
            ret.success(
                function() {
                    if (data["post_data"].match(/(create|drop)/i)) {
                        displaySchema();
                    }
                });
            ret.error(function(jqXHR, textStatus, errorThrown) {
                console.log("Query failed: " + textStatus + ": " + errorThrown);
            });
            
            var history = $("<span/>").addClass("command").append(queryString);
            history.hide();
            $("#history").prepend(history.append("<br/>"));
            history.fadeIn(700);
            $('#query_form').find('textarea[name=query]').val("");
        }
        
        $(document).ready(function() {
            $('#query_form').submit(function(event) {
                event.preventDefault(); // cancel the default action
                var form = this;
                postQuery($(form).find('textarea[name=query]').val());
            });
            
            $('#dialog').dialog({autoOpen: false, width: "60%"});
            $(document).keypress(function(event) {
                if (event.which == '63') {
                    $('#dialog').dialog('open')
                }
            });
        });
    </script>
    {% include "tracking.html" %}
    <title>Cassandra Query Language Test-drive</title>
</head>
<body>

<div id="header">
    <div class="header-text">
        <h2>Cassandra Query Language Demo</h2>
    </div>
    <span class="logo">
        <img src="/static/images/cql.png" border="0" />
    </span>
</div>

<div id="container">
    {% include "schema.html" %}
    
    <div id="query_box">
        <h2>Query Results</h2>
        <div id="query_results">
            Enter a query below and click Execute (accesskey 'x').</div>
        
        <form action="query/" method="post" id="query_form">
            <div>
                <textarea name="query" rows="4" cols="80" tabindex="1"></textarea>
            </div>
            <div>
                <input type="submit" value="Execute" accesskey="X" 
                       tabindex="2" />
                <input type="button" value="Clear" tabindex="3"
                       onclick="$('#query_form').find('textarea[name=query]').val('')" />
            </div>
        </form>
        <div class="hints">press '?' for quick help</div>
        <div id="history"></div>
    </div>

    <div id="csrf_token">{% csrf_token %}</div>
</div>

<div id="footer">
    <center>
        <span class="nav"><a href="http://github.com/eevans/caqel">Source code</a></span>
        <span class="nav">|</span>
        <span class="nav"><a href="http://github.com/eevans/caqel/issues">Bugs</a></span>
        <span class="nav">|</span>
        <span class="nav"><a href="mailto:eevans@apache.org">Contact</a></span>
        <span class="nav">|</span>
        <span class="nav"><a href="http://twitter.com/jericevans">Twitter</a></span>
        <span class="nav">|</span>
        <span class="nav">
            <a href="https://svn.apache.org/viewvc/cassandra/trunk/doc/cql/CQL.html?view=co">
                Documentation</a></span>
        <div class="legal">&copy; 2011 Eric Evans, Licensed under the 
            <a href="http://www.opensource.org/licenses/mit-license.php">
                MIT license</a>.</div>
    </center>
</div>

<div id="dialog" title="CQL Help">
    <p><b>Creating new keyspaces</b></p>
    <pre>CREATE KEYSPACE &lt;keyspace&gt; WITH strategy_class = SimpleStrategy
                AND strategy_options:replication_factor = 1</pre>
    <p><b>Creating new column families</b></p>
    <pre>CREATE COLUMNFAMILY &lt;cf&gt; (KEY text PRIMARY KEY, coke text, crush text)
                    WITH comparator = text AND default_validation = text</pre>
    <p><b>Setting the current keyspace</b></p>
    <pre>USE &lt;keyspace&gt;</pre>
    <p><b>Adding new records</b></p>
    <pre>UPDATE &lt;cf&gt; SET coke = cola, crush = orange WHERE KEY = soda
INSERT INTO &lt;cf&gt; (KEY, coke, crush) VALUES (soda, cola, crush)</pre>
    <p><b>Querying</b></p>
    <pre>SELECT coke,crush FROM &lt;cf&gt; WHERE KEY = soda</pre>
    <p><b>Querying (range of columns)</b></p>
    <pre>SELECT coa..coz FROM &lt;cf&gt; WHERE KEY = soda</pre>
    <p><b>Querying (range of columns with limit)</b></p>
    <pre>SELECT FIRST 1 c..co FROM &lt;cf&gt; WHERE KEY = soda</pre>
</div>

</body>
</html>
