<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/jquery.js"></script>

    <script type="text/javascript">
        function displayResults(results) {
            var display = $("#query_results");
            display.empty();
            
            if (results.hasOwnProperty("rows")) {
                var rows = results.rows;
                if (Object.keys(rows).length < 1) {
                    display.append($("<span/>").addClass("message").append("0 results"));
                    return null;
                }
                
                for (row in rows) {
                    display.append($("<span/>").addClass("key").append(row+""));
                    for (col in rows[row]) {
                        var column = rows[row][col]
                        display.append($("<span/>").addClass("column_name").append(column.name));
                        display.append(",");
                        display.append($("<span/>").addClass("column_value").append(column.value));
                        display.append(" ");
                    }
                    display.append($("<br/>"));
                }
            } else if (results.hasOwnProperty("void")) {
                display.append(
                    $("<span/>").addClass("void").append(results["void"]));
            } else if (results.hasOwnProperty("int")) {
                display.append($("<span/>").append(results.int));
            } else if (results.hasOwnProperty("exception")) {
                display.append(
                    $("<span/>").addClass("exception").append(results.exception));
            } else {
                // wtf?
            }
        }
        
        function postQuery(queryString) {
            // Set the spinner image to spinning
            $("#query_results").html($("<center/>").append(
                $("<img/>").attr("src", "/static/images/dark-loader.gif")
                    .attr("border", "0")
            ));
            var csrf_token = $('#csrf_token >div >input').attr("value");
            var data = {}
            data["post_data"] = queryString;
            data["csrfmiddlewaretoken"] = csrf_token;
            
            var ret = $.post("query/", data, displayResults, "json")
            ret.success(
                function() {
                    if (data["post_data"].match(/(create|drop)/i)) {
                        displaySchema();
                    }
                });
            ret.error(function(jqXHR, textStatus, errorThrown) {
                console.log("Query failed: " + textStatus + ": " + errorThrown);
            });
            
            var history = $("<span/>").addClass("command").append(queryString);
            history.hide();
            $("#history").prepend(history.append("<br/>"));
            history.fadeIn(700);
            $('#query_form').find('textarea[name=query]').val("");
        }
        
        $(document).ready(function() {
            $('#query_form').submit(function(event) {
                event.preventDefault(); // cancel the default action
                var form = this;
                postQuery($(form).find('textarea[name=query]').val());
            });
        });
    </script>
</head>
<body>

<div id="header">
    <div class="header-text">
        <h2>Cassandra Query Language Demo</h2>
    </div>
    <span class="logo">
        <img src="/static/images/cql.png" border="0" />
    </span>
</div>

<div id="container">
    {% include "schema.html" %}
    
    <div id="query_box">
        <h2>Query Results</h2>
        <div id="query_results">
            Enter a query below and click Execute (accesskey 'x').</div>
        
        <form action="query/" method="post" id="query_form">
            <div>
                <textarea name="query" rows="4" cols="80" tabindex="1"></textarea>
            </div>
            <div>
                <input type="submit" value="Execute" accesskey="X" 
                       tabindex="2" />
                <input type="button" value="Clear" tabindex="3"
                       onclick="$('#query_form').find('textarea[name=query]').val('')" />
            </div>
        </form>
        <div id="history"></div>
    </div>

    <div id="csrf_token">{% csrf_token %}</div>
</div>

<div id="footer">
    <div class="legal" style="vertical-align: middle">
        <p>&copy; 2011 Eric Evans, Licensed under the 
            <a href="http://www.opensource.org/licenses/mit-license.php">
                MIT license</a>.</p>
    </div>
    <table>
        <tbody>
            <tr>
                <td>
                    <h4>Get Meta</h4>
                    <ul>
                        <li><a href="http://github.com/eevans/caqel">
                            Caqel Source code</a></li>
                        <li><a href="http://github.com/eevans/caqel/issues">
                            Caqel Bugs</a></li>
                    </ul>
                </td>
                <td>
                    <h4>Get In Touch</h4>
                    <ul>
                        <li><a href="mailto:eevans@apache.org">By Email</a></li>
                        <li><a href="http://twitter.com/jericevans">
                            On Twitter</a></li>
                    </ul>
                </td>
                <td>
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="https://svn.apache.org/viewvc/cassandra/trunk/doc/cql/CQL.html?view=co">
                            CQL Language Docs</a></li>
                        <li><a href="mailto:user-subscribe@cassandra.apache.org">
                            User Mailing List</a></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
