<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/jquery.js"></script>

    <script type="text/javascript">
        function displayResults(results) {
            function span(cls, value) {
                return "<span class=\"" + cls + "\">" + value + "</span>"
            }
            function keySpan(key) { return span("key", key); }
            function nameSpan(name) { return span("column_name", name); }
            function valueSpan(value) { return span("column_value", value); }
            
            var sbuffer = [];
            if (results.hasOwnProperty("rows")) {
                var rows = results.rows;
                for (row in rows) {
                    sbuffer.push(keySpan(row) + " ");
                    for (col in rows[row]) {
                        var column = rows[row][col]
                        sbuffer.push(nameSpan(column.name));
                        sbuffer.push(",");
                        sbuffer.push(valueSpan(column.value));
                        sbuffer.push(" ");
                    }
                    sbuffer.push("<br />");
                }
            } else if (results.hasOwnProperty("void")) {
                sbuffer.push(span("void", results["void"]));
            } else if (results.hasOwnProperty("int")) {
                sbuffer.push(results.int);
            } else if (results.hasOwnProperty("exception")) {
                sbuffer.push(span("exception", results.exception));
            } else {
                // wtf?
            }
            $("#query_results").hide();
            $("#query_results").html(sbuffer.join(""));
            $("#query_results").fadeIn(1000);
        }
        
        function postQuery(queryString) {
            // Set the spinner image to spinning
            $("#query_results").html($("<center/>").append(
                $("<img/>").attr("src", "/static/images/dark-loader.gif")
                    .attr("border", "0")
            ));
            var csrf_token = $('#csrf_token >div >input').attr("value");
            var data = {}
            data["post_data"] = queryString;
            data["csrfmiddlewaretoken"] = csrf_token;
            
            var ret = $.post("query/", data, displayResults, "json")
            ret.success(
                function() {
                    if (data["post_data"].match(/(create|drop)/i)) {
                        displaySchema();
                    }
                });
            ret.error(function(jqXHR, textStatus, errorThrown) {
                console.log("Query failed: " + textStatus + ": " + errorThrown);
            });
        }
        
        $(document).ready(function() {
            $('#query_form').submit(function(event) {
                event.preventDefault(); // cancel the default action
                var form = this;
                postQuery($(form).find('textarea[name=query]').val());
            });
        });
    </script>
</head>
<body>

<div id="header"></div>
<div id="container">
    {% include "schema.html" %}
    
    <div>
        <h2>Query Results</h2>
        <div id="query_results">Enter a query below and click Submit.</div>
        
        <form action="query/" method="post" id="query_form">
            <div>
                <textarea name="query" rows="4" cols="80" tabindex="1"></textarea>
            </div>
            <div>
                <input type="submit" value="Submit" tabindex="2" />
                <input type="button" value="Reset" tabindex="3"
                       onclick="$('#query_form').find('textarea[name=query]').val('')" />
            </div>
        </form>
    </div>

    <div id="csrf_token">{% csrf_token %}</div>
</div>
<div id="footer"></div>

</body>
</html>
