
<script type="text/javascript">
    function displaySchema() {
        function enumerateKeyspaces(keyspaces) {
            var sbuffer = [];
            sbuffer.push("<ul>");
            for (keyspace in keyspaces) {
                // Keyspace list item w/ link to "USE"
                sbuffer.push("<li><a href=\"javascript:void(null)\" " + 
                    "title=\"Use " + keyspace + "\" " + 
                    "onclick=\"useKeyspace('" + keyspace + "');\">" + 
                    keyspace + "</a>"
                );
                
                // Column families for this keyspace
                sbuffer.push("<ul>")
                for (cf in keyspaces[keyspace]) {
                    sbuffer.push("<li>"+cf+"</li>");
                }
                sbuffer.push("</ul>");
                
                sbuffer.push("</li>");
            }
            sbuffer.push("</ul>");
            $("#schema").html(sbuffer.join(""));
        }
        
        $("#schema").html($("<center/>").append(
            $("<img/>").attr("src", "/static/images/light-loader.gif")
                .attr("border", "0")
        ));
        var ret = $.get("describe/keyspaces/", "", enumerateKeyspaces, "json");
        ret.error(function(jqXHR, textStatus, errorThrown) {
            console.log("Error: " + textStatus + ": " + errorThrown);
        });
        // error handling
    }
    
    function useKeyspace(keyspace) {
        postQuery("USE " + keyspace);
    }
    
    $(document).ready(displaySchema);
</script>

<div id="schema_wrapper">
    <h2>Schema</h2>
    <div id="schema"></div>
</div>
